:root{
    --main-red-color: #780000;
    --main-blue-color: #003049;
    --red-color: #C1121F;
    --blue-color: #669BBC;
    --background-color: #f1ebdd;
    --border-radius: 10px;
    --box-shadow: rgba(0,0,0,.08) 0 20px 40px;
    --header-style: var(--main-blue-color) 3px solid;
    --circle: 100%;
}

*{
    font-family: "Gill Sans", sans-serif !important;
}

.btn-primary {
    background-color: var(--main-blue-color) !important;
    color: var(--background-color) !important;
}

.btn-primary:hover{
    color: var(--main-blue-color) !important;
    background-color: var(--background-color) !important;
}


.btn-danger {
    background-color: var(--main-red-color) !important;
    color: var(--background-color) !important;
}

.btn-danger:hover{
    color: var(--main-red-color) !important;
    background-color: var(--background-color) !important;
}

.small-card{
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: transform 0.5s ease;
}

.small-card > svg {
    color: var(--main-blue-color);
}

.small-card > h5,
.small-card > p {
    font-weight: 700;
}

.small-card > h5 {
    color: var(--main-red-color);
}

.small-card > p {
    color: var(--background-color);
    background-color: var(--main-blue-color);
    padding: 0px 10px;
    border-radius: var(--border-radius);
}

.small-card:hover{
    transform: scale(1.05);
}

.main-header{
    color: var(--red-color);
    padding: 20px;
    position: relative;
    width: fit-content;
    margin: auto;
    text-transform: uppercase;
    font-weight: 700;
}

.main-header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-top: var(--header-style);
    border-left: var(--header-style);
    border-top-left-radius: var(--border-radius);
    transition: all 0.5s ease-in-out;
}

.main-header::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    border-bottom: var(--header-style);
    border-right: var(--header-style);
    border-bottom-right-radius: var(--border-radius);
    transition: all 0.5s ease-in-out;
}

.main-header:hover::after{
    width: 100%;
    height: 0%;
    border-top: var(--header-style);
}

.main-header:hover::before{
    width: 100%;
    height: 0%;
    border-bottom: var(--header-style);
}